$blanco: #fff;
$negro : #000;
$azul: #0575E6;
$gris: rgb(240, 240, 240);
$verde: #00F260;
$dark: #252525;
$rosa : #df8a8a;

$IBM: 'IBM Plex Sans', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Raleway: 'Raleway', sans-serif;

.categoria {
    display: flex;
    flex-direction: column;
    background: $rosa;
    font-family: $Poppins; 
    display: flex;
    align-items: center;
    border: 1px solid $dark;
}

#productos{
    display: flex;
    flex-wrap: wrap;
    //flex-direction: row;
    .vista{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid $gris 1px;
        border-radius: 5px;
        width: 250px;
        height: 300px;
        margin-bottom: 20px;;
        margin-right: 20px;
        p{
          color: black;
          font-family: $IBM;
          display: inline-block;
          line-height: 1.6;
          text-align: center;
      }
      }
}
